{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% comment %} <h2>{{ user.get_full_name }}</h2> {% endcomment %}
{% comment %} <ul> {% endcomment %}
  {% comment %} <li>Username: {{ user.username }}</li> {% endcomment %}
  {% comment %} <li>Address: {{ user.profile.address }}</li>
  <li>Birth Date: {{ user.profile.birth_date }}</li>
  <li>Gender: {{user.profile.gender}}</li>
</ul> {% endcomment %}
<div class="">

<form method="post">
  {% csrf_token %}
  {{ crispy user_form}}
  {{ crispy profile_form}}
  <button type="submit">Save changes</button>
</form>
<a  class="btn btn-outline-dark" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>

</div>
{% endblock %}
