{% extends "base.html" %}
{% load static %}

{% block content %} 
				
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					{% if object_list %}
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>ITEM <a href="{% url 'base_app:new-item' %}" style="color: #424646;">|NEW<i class="fa fa-plus" aria-hidden="true"></i></a></th>
								<th>NAME</th>
								<th class="text-center">QUANTITY</th> 
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
							{% for item in object_list %}
							{% if item.user.id == user.id %}
							<tr>
								<td class="image" data-title="Item"><img src="{{ item.image.url }}" alt="#"></td>
								<td class="product-des" data-title="Name">
									<p class="product-name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></p>
								</td>
								<td class="qty" data-title="Qty"><!-- Input Order -->
									<div class="input-group">
										<div class="button minus">
											<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
												<i class="ti-minus"></i>
											</button>
										</div>
										<input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="100" value="1">
										<div class="button plus">
											<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
												<i class="ti-plus"></i>
											</button>
										</div>
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="action" data-title="Remove"><a href="{% url 'base_app:delete-item' item.slug %}"><i class="ti-trash remove-icon"></i></a></td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
					{% else %}

					<div class="product-area section">
						<div class="container">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="man" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											
									<h1 style="font-family: 'Press Start 2P', cursive; color: rgb(220, 215, 215); margin: auto; width: 50%;"></font>NO ITEMS</h1>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group button">
						<a href="{% url 'base_app:new-item' %}">NEW ITEM<i class="fa fa-plus" aria-hidden="true"></i></a>
					</div>
				
					{% endif %}
					<!--/ End Shopping Summery -->
				</div>
			</div>	
			
	<!-- Modal -->
	</div>
</div>

        <!-- Modal end -->
	
{% endblock content %} 